<%
    panel_class = "panel panel-#{style}"
%>
<div class="<%= panel_class -%>">
    <div class="panel-heading"><%= title -%></div>
    <div class="panel-body">
        <img src="<%= thumb_url -%>">
    </div>
    <div class="panel-body">
        <%= content -%>
    </div>
    <% if parts[:has_footer] -%>
    <div class="panel-footer">
        <%= footer -%>
    </div>
    <% end -%>
</div>