<!DOCTYPE html>
<html>
  <head>
    <title>Imgpile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= header_element -%>
    <div class="container-fluid" data-placeholder-for="alert">
      <%= alerts_element -%>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= footer_element -%>
    <%= yield :js_bottom -%>
  </body>
</html>
